.custom-carousel-icon {
    color: white;
    font-size: 2rem;
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
   img {
    width: 50%;
    height: 100vh;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
