.shoe-card {
    background-color: #C39898 !important;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .shoe-card h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 16px;
  }
  
  .shoe-card p {
    font-size: 0.875rem;
    color: black;
    margin: 8px 0;
  }
  
  .shoe-card .price {
    font-weight: bold;
    color: #000;
    margin-top: 8px;
    font-size: 1.125rem;
  }
  


  .edit-button {
    background-color: #5F6769;
    color: #faefef;
    border: none;
    gap: 10px;
    width: 100px;
  }

  .edit-button:hover {
    background-color: #3C4245 !important;
    color: #faefef;
  }
  
  .delete-button {
    background-color: #561C24 !important; 
    color: white;
    width: 100px;
    border: none;
  }

  .delete-button:hover {
    background-color: #B03052 !important;
    color: #faefef;
  }