.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  background-color: #944E63; 
  padding: 10px 8px;
  height: 350vh;
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px; 
}
 
.sidebar i {
  margin-top: 90px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px; 
  font-size: 2em;
  color: #000000; 
  width: 40px; 
}
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar .home {
   margin-top: 40px;
  }

  .sidebar .about-label {
    margin-top: 10px;
  }

  li .nav-item {
    margin-left: 15px !important;
  }

  .sidebar .manage-users {
    margin-bottom: 10px;
  }

 .sidebar .switch-arrows{
    font-size: 2em;
    margin-bottom: 10px;
  }

  
  .sidebar a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease;
  }
  
  .sidebar a:hover {
    color: black;
  }

  .sidebar .signup-button, .login-button {
    background-color: #5a6268;
  }
  
  .login-button:hover {
    background-color: white;
    color: #5a6268;
  }

  .signup-button:hover {
    background-color: white;
    color: #5a6268;
  }